@import url("./icons.css");

* {
    box-sizing: border-box;
}

body {
    background: #60AEE0;
    font-family: 'Segoe UI', sans-serif;
}

.app {
    width: 600px;
    max-width: 100%;
    background: #1A618E;
    /*background: linear-gradient(to bottom, #1A618E , #FFC837); */
    background: linear-gradient(to bottom, #1A618E , #1a696e); 
    padding: 4em;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    color: #fff;
    transform: translate(-50%, -50%);
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    border-radius: 10%;
}

.weather-today {
    height: 300px;
    position: relative;
}

h1 {
    font-size: 3em;
}

.icon-description {
    margin-top: 3em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    padding-bottom: 1em;
    font-size: 2em;
}

.icon-big {
    margin-top: 4em;
}

.small-temp,
.big-temp {
    font-size: 5em;
    position: absolute;
    right: 50%;
    margin-right: -150px;
    bottom: 50%;
    transform: translateY(50%);
}

.big-temp:after,
.small-temp:after {
    content: "°";
    opacity: 0.2;
    font-family: monospace;
    position: absolute;
    right: -30px
}

.icon-wrapper {
    position: relative;
}

.day {
    clear: both;
    padding: 2em 0;
}

.day-description {
    text-align: left;
    float: left;
    width: 75%;
    font-size: 1.2em;
}

.day .icon-wrapper {
    width: 25%;
    float: right;
    top: 10px;
    text-align: right;
    right: -50px;
    font-weight: bold;
}

.day .icon-wrapper .small-temp:after {
    right: -17px;
}

.day .icon-wrapper .small-temp {
    font-size: 2em;
    margin-right: 1.7em;
}

.day .icon-wrapper .icon-small {
    zoom: 0.3;
}


.drop {
  background:-webkit-gradient(linear,0% 0%,0% 100%, from(rgba(13,52,58,1) ), to(rgba(255,255,255,0.6))  );
  background: -moz-linear-gradient(top, rgba(13,52,58,1) 0%, rgba(255,255,255,.6) 100%);
	width:1px;
	height:89px;
	position: absolute;
	bottom:200px;
	-webkit-animation: fall .63s linear infinite;
  -moz-animation: fall .63s linear infinite;

}

/* animate the drops*/
@-webkit-keyframes fall {
	to {margin-top:900px;}
}
@-moz-keyframes fall {
	to {margin-top:900px;}
}
